body{
    overflow-x: hidden;
    background: #f1f7f8!important;
}
.menu-area{
    background: #1c1b1a!important;
    box-shadow: none;
}
.menu-area .navbar-brand img{
    width: 70px;

}
.menu-icon-box .icon a{
    color: #fff;
}
.menu-icon-box .icon a:hover{
    color: #e68640;
}
.menu-icon-box .icon .number{
    background: #e68640;
}
.home-banner-area .block-card{
    background: #fff4df;
    margin: 30px 0;
    margin-bottom: 70px;
    border-radius: 12px;
    padding: 70px 70px;
    position: relative;
    z-index: 1;
}
.home-banner-area .block-card::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 10px solid transparent;
    border-left: 10px solid #e68640;
    border-bottom: 10px solid #e68640;
    top: 0;
    right: 0;
    z-index: -1;
}
.home-banner-area .block-card::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid transparent;
    border-right: 10px solid #e68640;
    border-bottom: 10px solid #e68640;
    bottom: 20px;
    left: 20px;
    z-index: -1;
}
.home-banner-area .block-card .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-banner-area .block-card .box-img{
    width: 100%;
    height: 350px;
}
.home-banner-area .block-card .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -50px;
    border-radius: 12px;
}
.home-banner-area .block-card h2{
    color: #e68640;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.home-banner-area .block-card h1{
    color: #1c1b1a;
    font-size: 47px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
}
.home-banner-area .block-card h3{
    color: #1c1b1a;
    font-size: 37px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
}
.home-banner-area .block-card p{
    color: #212529;
    font-size: 18px;
    width: 470px;
    margin-bottom: 30px;
    line-height: 150%;
}
.home-banner-area .block-card .btn{
    background: #e68640;
    padding: 10px 25px;
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
}
.home-banner-area .carousel-control-next, .home-banner-area .carousel-control-prev{
    width: 50px;
    height: 50px;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
    background: #fff;
    opacity: 1;
    border-radius: 100%;
    color: #1c1b1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}
.home-banner-area .carousel-control-next{
    right: -95px;
}
.home-banner-area .carousel-control-prev{
    left: -95px;
}
.course-box{
    border-radius: 12px;
}
.course-box .course-image{
    height: 220px;
}
.course-box .course-image img{
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.block-login{
    position: relative;
}
.block-login .bg{
    background: #1c1b1a;
    flex-direction: column;
    color: #fff;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.block-login .bg::before{
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.014);
    border-radius: 12px;
}
.block-login .bg h2{
    font-size: 50px;
    font-weight: 700;
}
.block-login .card{
    border-radius: 0;
    border: none;
    padding: 100px 100px;
}
.block-login .card .form-control{
    height: 75px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    font-size: 20px;
    color: #1c1b1a;
}
.block-login .card .form-control::placeholder{
    color: rgba(0, 0, 0, 0.3);
}
.block-login .card .btn{
    width: 100%;
    background: transparent;
    color: #e68640;
    height: 75px;
    font-size: 20px;
    transition: .5s;
    font-weight: 600;
    border: 1px solid #e68640;
}
.block-login .card .btn:hover{
    background: #e68640;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.block-login .card .reset{
    color: #1c1b1a;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.block-login .card h1{
    color: #1c1b1a;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.block-login .card .reset:hover{
    color: #e68640;
}
.block-login .card .col-lg-12{
    position: relative;
}
.block-login .card .col-lg-12 .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #1c1b1a;
    opacity: .6;
    right: 30px;
    transition: .3s;
}
.block-login .card .col-lg-12 .form-control:focus{
    box-shadow: none;
}
.block-login .card .col-lg-12 .form-control:focus ~ .icon{
    opacity: 1;
}
.block-login .card .col-lg-12 .line{
    position: absolute;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    background: #1c1b1a;
    transition: .5s;
}
.block-login .card .col-lg-12 .form-control:focus ~ .line{
    width: 93%;
}
.block-login .card h2,.block-login .card img{
    display: none;
}
.btn-plus{
    color: #e68640!important;
    font-weight: 600;
    padding: 0;
    display: flex;
    align-items: center;
}
.btn-plus .bi{
    margin-left: 7px;
    transition: .5s;
}
.btn-plus:hover .bi{
    margin-left: 10px;
}
@media (max-width: 576px){
    .navbar-brand{
        margin-right: 0;
    }
    .mobile-search-trigger{
        display: none;
    }
    .navbar .ms-auto.d-flex{
        margin-left: 0!important;
        justify-content: center;
        width: 100%;
    }
    .home-banner-area{
        padding: 30px 0!important;
    }
    .home-banner-area .carousel-control-next, .home-banner-area .carousel-control-prev{
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
    .home-banner-area .carousel-control-next{
        right: -30px;
    }
    .home-banner-area .carousel-control-prev{
        left: -30px;
    }
    .home-banner-area .block-card{
        margin-top: 0px;
        padding: 30px 20px;
        margin-bottom: 20px;
    }
    .home-banner-area .block-card::before{
        width: 70px;
        height: 70px;
    }
    .home-banner-area .block-card::after{
        right: 20px;
        left: auto;
    }
    .home-banner-area .block-card h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .home-banner-area .block-card p{
        width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .home-banner-area .block-card h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .home-banner-area .block-card .box-img{
        height: 190px;
        margin-bottom: 30px;
    }
    .block-login{
        overflow: hidden;
    }
    .block-login .bg{
        width: 100%;
    }
    .block-login .bg::before{
        display: none;
    }
    .block-login .bg img, .block-login .bg h2{
        display: none;
    }
    .block-login .card{
        z-index: 500;
        background: transparent;
        padding: 30px 0px;
        min-height: 100vh;
        align-items: center;
    }
    .block-login .card h2{
        color: #fff;
        display: block;
        font-size: 26px;
        font-weight: 600;
    }
    .block-login .card img{
        display: block;
        width: 80px;
        height: auto;
    }
    .block-login .card h1{
        color: #fff;
        font-size: 24px;
    }
    .block-login .card .form-control{
        background: transparent;
        border-color: rgba(255, 255, 255, 0.26);
        color: #fff;
        height: 55px;
        font-size: 16px;
    }
    .block-login .card .col-lg-12 .line{
        background: #e68640;
    }
    .block-login .card .col-lg-12 .form-control:focus ~ .line{
        width: 88%;
    }
    .block-login .card .btn{
        height: 55px;
        font-size: 16px;
        background: #e68640;
        color: #fff;
    }
    .block-login .card .form-control::placeholder{
        color: rgba(255, 255, 255, 0.39);
    }
    .block-login .card .reset{
        color: #fff;
        font-size: 16px;
    }
    .block-login .card p{
        color: rgba(255, 255, 255, 0.397);
    }
    .block-login .card .col-lg-12 .icon{
        color: #fff;
        font-size: 22px;
    }
}
